.form-group{
    color:white
}
.first_div{
    margin-left: 10px;
    color: white;
}
.first_div .far, .first_div .fas{
    text-align: center;
    margin-bottom: 20px;
}
.fa-liaison-itineraire{
    font-size: 5px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff82;
    display: block!important;
}
.first_div .fas,.first_div .fa {
    /*color: #f9a608;*/
}
.bande_maps{
    height: 80px;
    padding-top: 20px;
    padding-left: 40px ;
    color:white;
    font-size: 1.625rem;background: rgba(34, 33, 38, 0.9);
}


.bande_service{
    background: linear-gradient(#0b4884, #9ed192 50%);
    border-radius: 0;
    clip-path: polygon(100.23% -4px, 100.09% 97.5%, -0.53% 52.91%, -0.15% -0.01%);
    height: 120px;
    padding-top: 10px;
}
.bande_aboutus{
    height: 120px;
    padding-top: 10px;
    background: rgb(144, 194, 201);
    border-radius: 0;
    clip-path: polygon(100.23% -4px, 100.09% 97.5%, -0.53% 52.91%, -0.15% -0.01%);
    border: 2px solid #90c2c9;
}
.faInfo{
    margin-left: 10px;
    color: #007bff;
    font-size: small;
    margin-bottom: 10px;
}
.divinfoInit{
    background-color: #fff;
    margin: 0px 30px 20px 30px;
    padding-top: 15px;
    border-radius: 5px;
    color: #79797a;
}
#itindata .faInfo{
    padding: 10px;
    border-radius: 18px;
    background-color: #ee9b30;
    margin-left: 20px;
    color: white;
}
#itindata #info_station_recharge {
    font-size: 14px;
}
#itindata{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    padding-top: 10px;
}

.divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 3px solid #376798;
}
.itin_list{
    margin: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    overflow-wrap: break-word;
}
.directions-mode-line {
    border-bottom: 1px solid #ffffff82;
    margin-left: 38px;
}
.directions-mode-separator
.directions-mode-distance-time {
    display: inline-block;
    position: absolute;
    top: -7px;
    font-size: 11px;
    color: #150101;
    font-weight: 300;
    background-color: #ffffff82;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}
.directions-mode-separator {
    margin: auto 20px 20px 20px;
    position: relative;
    line-height: normal;
    font-weight: normal;
    z-index: 1;
    transition: all 200ms;
}

.fa_depart{
    margin-bottom: 0px!important;
}

.btn-secondary{
    background-color: #fdfffd45!important;
    border-color: #90c491!important;
}
.btn-secondary:hover{
    background-color: rgba(131, 239, 212, 0.49) !important;
    border-color: #90c491 !important;
}

.text-body {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
}
.nav-item a:hover{
    color:white!important;
}
.containerr{
    margin-left: 8%;
    margin-right: 8% ;
    background:#9ed192 ;
}
.div_img {
    border-radius: 0;
    clip-path: polygon(0px 0px, 0px 451px, 100.21% 451px, 100.07% 76px);
    height: 60%;
}
.div_img p {
    text-align:center;
}
.div_img img {
    height:40px;
}
.dropdown-item{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center !important;
    color: #ffffff9c;
}
.dropdown-item:hover{
    color: white!important;
    background-color: transparent;
}

h3{
    color: #279e45;
    word-wrap: break-word;
}
p{
    text-align: justify;
}
a:hover{
    background-color: unset!important;
    color: white!important;
}
.footer-copyright a{
    color: silver!important;
    text-decoration: underline;
}
.footer-copyright a:hover{
    color: white!important;
}
.content{
    padding-top: 0;
    padding: 30px 0 430px;
    box-sizing: border-box;
    font: inherit;
    color: #6c7a89;
    display: block;
    margin: auto;
}
section .content {
    padding: 30px 0;
}
#assets{
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: block;

}
#assets .content ul {
    display: block;
    margin: auto;
    max-width: 750px;
    list-style: none;
}
.titles{
    font-size: 2em;
    padding-bottom: 40px;
}
.subtitles, .titles {
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color:#6c7a89;
}
#assets .content ul  li {
    clear: both;
    margin-bottom: 45px;
    overflow: hidden;
    text-align: center;
}
#assets .content ul li div {
    float: left;
    font-size: 1.2em;
    padding-left: 45px;
    text-align: left;
    width: 85%;
}
#assets .content ul li div strong {
    display: block;
    padding-bottom: 10px;
}
#assets .content ul li ul li {
    margin-left: 20px;
    padding: 5px 0;
    list-style-type: disc;
    text-align: left;
}
#assets .content ul li img {
    float: left;
    width: 10%;
}
.link{
    color: #b3b3b4 !important;
}


/*----------------------------SECTION BANDE FLOTTANT AVEC IMAGE--------------------------------------------------------------------*/
.nav_section {
    overflow:hidden;
    background-color:black;
    height: 450px;
}
#nav_div{
    height:100%;
    width:100%;
    background: radial-gradient(#9ed192,#0b4884);
}
.leaf{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.leaf div{
    position:absolute ;
    display:block ;
}
.leaf div:nth-child(1){
    left:20%;
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

}
.leaf div:nth-child(2){
    left:70%;
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(3){
    left:10%;
    animation:fall 20s linear infinite ;
    animation-delay:-7s;

}
.leaf div:nth-child(4){
    left:50%;
    animation:fall 18s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(5){
    left:85%;
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(6){
    left:15%;
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(7){
    left:90%;
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX(20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX(-20px) rotate(45deg);
    }
    40%{
        transform:translateX(-20px) rotate(90deg);
    }
    60%{
        transform:translateX(-20px) rotate(135deg);
    }
    80%{
        transform:translateX(-20px) rotate(180deg);
    }
    100%{
        top:110%;
        transform:translateX(-20px) rotate(225deg);
    }
}
.leaf1{
    transform: rotateX(180deg);
}
section p{
    position:absolute ;
    top:40%;
    width:70%;
    font-family: 'Courgette', cursive;
    text-align:center;
    transform:translate ;
    color:#fff;
    overflow-wrap: break-word;
    font-size: 43px;
    line-height: 50px;
}
/*----------------------------LOADING PAGE GIF--------------------------------------------------------------------------*/

.fa-map-marked-alt {
    color : #0b4884;
}